body {
  font-family: Arial;
  background: linear-gradient(#b30000, #006400);
  color: white;
  text-align: center;
}

nav, footer {
  background: #8b0000;
  padding: 15px;
  font-weight: bold;
}

table {
  margin: auto;
  border-collapse: collapse;
  background: white;
  color: black;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background: #006400;
  color: white;
}
