version: "3.8"

services:
  postgres:
    image: postgres:13
    container_name: navidad-db
    environment:
      POSTGRES_DB: navidad
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: navidad-backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  pgdata:
